<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog.css">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <div class="container">
      {{ partial "header.html" . }}
      {{ range (where .Site.RegularPages "Section" "blog").GroupByDate "2006" }}
      <h3>{{ .Key }}</h3>
      <ul>
        {{ range .Pages }}
        <li>
          <a class="post__container" href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </body>
</html>