<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog.css">
    <title>{{ .Title }}</title>
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="container">
      {{ $posts := where .Site.RegularPages "Section" "blog" }}
      {{ if $posts }}
      {{ range $posts.GroupByDate "2006" }}
      <h3>{{ .Key }}</h3>
      <ul>
        {{ range .Pages }}
        <li>
          <a class="post__container" href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ partial "post-date.html" . }}</time>
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ else }}
      <p>{{ i18n "no_posts" }}</p>
      {{ end }}
    </div>
  </body>
</html>
