<section class="latest-posts">
    {{ $blogURL := "/blog" | relLangURL }}
    <div class="latest-posts__header">
        <h2>{{ i18n "latest_posts" }}</h2>
        <a href="{{ $blogURL }}">{{ i18n "view_all_posts" }} <span aria-hidden="true">-&gt;</span></a>
    </div>
    <div class="latest-posts__list">
        {{ $posts := first 5 (where .Site.RegularPages "Section" "blog") }}
        {{ if $posts }}
        {{ range $posts }}
        <a class="post" href="{{ .Permalink }}">
            <h4>{{ .Title }}</h4>
            <time>{{ partial "post-date.html" . }}</time>
        </a>
        {{ end }}
        {{ else }}
        <p>{{ i18n "no_posts" }}</p>
        {{ end }}
    </div>
</section>
