.title-container:hover .title-toggleable-part {
    opacity: 0;
    transform: scaleX(0);
}

.title-toggleable-part{
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    transform: initial;
}

.title-fixed-part {
    margin-left: initial;
    transition: margin-left 0.3s ease;
}

.title-container:hover .title-fixed-part:nth-child(3) {
    margin-left: -0.25em;
}

.title-container:hover .title-fixed-part:nth-child(6) {
    margin-left: -1.05em;
}

.title-container {
    margin: 0 0 0.5em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25em;
}

.nav-container {
    display: block;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.theme-toggle-container {
    display: block;
}

@media only screen and (min-width: 768px) {
    #header {
        padding: 3em 2em;
    }
}