<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>{{ .Title }}</title>
    </head>
    <body>
        {{ partial "header.html" . }}
        <article class="container">
            <h1>{{ .Title }}</h1>
            <p class="date">
                <span>{{ i18n "published_on" }} <time datetime="{{ .Date.Format "2006-01-02" }}">{{ partial "post-date.html" . }}</time></span>
                {{- if .Params.lastmod }}
                <span>{{ i18n "updated_on" }} <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ partial "post-lastmod.html" . }}</time></span>
                {{- end }}
            </p>
            <div>
                {{ .Content }}
            </div>
            <a href="{{ "/" | relLangURL }}">{{ i18n "back_to_homepage" }}</a>
        </article>
    </body>
</html>
