<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header id="header">
    <div class="nav-container">
        <div class="title-container">
            <span class="title-fixed-part">Pablo</span><span class="title-toggleable-part">&nbsp;</span><span class="title-fixed-part">Garc</span><span class="title-toggleable-part">ía</span><span class="title-toggleable-part">&nbsp;</span><span class="title-fixed-part">Or</span><span class="title-toggleable-part">tega</span>
        </div>
        <nav>
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <a href="/about">About me</a>
            </div>
            <div>
                <a href="/blog">Blog</a>
            </div>
            <div>
                <a href="/projects">Projects</a>
            </div>
            <div>
                <a href="/">Github</a>
            </div>
        </nav>
    </div>
    <div class="theme-toggle-container">
        <span></span>
    </div>
</header>