<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <div class="title-container">
        <span class="title-fixed-part">Pablo</span><span class="title-toggleable-part">&nbsp;</span><span class="title-fixed-part">Garc</span><span class="title-toggleable-part">ía</span><span class="title-toggleable-part">&nbsp;</span><span class="title-fixed-part">Or</span><span class="title-toggleable-part">tega</span>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>